@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/zgh1mdb.css");
@import url("https://fonts.cdnfonts.com/css/sahur-ramadhan");

@layer utilities {
  .quote-img {
    background-image: url('../public/images/bg-quote.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

body {
  margin: 0;
  color: #333333;
  background-color: #ffffff;
  min-height: 100vh;
  font-size: 1rem;
  font-family: "dejavu-sans", "sans-serif";
}

.package::before {
  content: '';
  position: absolute;
  top: 99.5%;
  left: 40%;
  right: 40%;
  font-family: 'dejavu-sans', sans-serif;
  bottom: 0;
  background-color: #87592A;
  transform-origin: top right;
  display: grid;
  margin: auto;
}

.package:hover:after {
  background-color: #ffffff;
}

.package:hover::before {
  background-color: #ffffff;
}

.package::after {
  content: '';
  position: absolute;
  top: 99.5%;
  left: 40%;
  right: 40%;
  bottom: 0;
  background-color: #87592A;
  transform-origin: top right;
  display: grid;
  margin: auto;
}

.section-title::before {
  content: '';
  position: absolute;
  top: 93%;
  left: 40%;
  right: 45%;
  bottom: 0;
  background-color: #87592A;
}

.home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../public/images/bg-img-1.png');
  z-index: -1;


}

.radiostyle[type='radio']:checked {
  display: flex;
  background-color: none;
  border-color: #848484; 
  appearance: none; 
  outline: none;
}

.radiostyle[type='radio']:checked::before {
  content: '';
  display: flex;
  width: 90%;
  height: 90%;
  margin: auto;
  background-color: #87592A; 
  border-radius: 100%;
  transition: all 10ms ease-in-out #87592A;
}

.slantDiv::before {
  content: '';
  top: 92%;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #87592A;
  position: absolute;
  transform-origin: top right;
  transform: skewX(32deg);
  z-index: -1;
  display: grid;
  margin: auto;
}



.sectionDiv::before {
  content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #87592A;
  position: absolute;
  transform-origin: top right;
  transform: skewX(32deg);
  z-index: -1;
}

.sectionDiv::after {
  content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: inherit;
  position: absolute;
  transform-origin: bottom left;
  transform: skewX(32deg);
  z-index: -1;
}

.bg-scheme{
  background-image: url("../public//images/bg-scheme.png");
}

.savingscheme::after {
  content: '';
  position: absolute;
  background-color: #87592A;
  opacity: 85%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.live-chat::after {
  content: '';
  top: 90%;
  left: 0;
  right: 0;
  bottom: -12%;
  position: absolute;
  z-index: 1;
  background-color: #A88A69;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}


.live-chat::before {
  content: '';
  top: 89%;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  background-color: #87592A;
}

@media screen and (min-width: 769px) {

  .live-chat::after {
    content: '';
    top: 90%;
    left: 0;
    right: 0;
    bottom: -1%;
    position: absolute;
    z-index: 1;
    background-color: #A88A69;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }


  .live-chat::before {
    content: '';
    top: 89%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    background-color: #87592A;
  }
}


.reach-us::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333333;
  opacity: 0.7;
  z-index: -1;
}

/* globals.css or any CSS file */
.reach-us-img {
  background-image: url('../public/images/bg-reach-us.png');
}

@media (min-width: 640px) { /* sm */
  .reach-us-img-1 {
    background-image: url('../public/images/reachus2.png');
  }
}

@media (min-width: 175px) { /* xmd */
  .reach-us-img {
    background-image: url('../public/images/bg-reach-us.png');
  }
}